@model Security.Domain.DTO.RoleAction.RoleActionAddModel

<h4>RoleActionAddModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View" id="addNewRoleActionForm">
            <div class="form-group">
                <label asp-for="RoleID" class="control-label"></label>
                <select asp-items="@ViewBag.drpRole" class="form-control" asp-for="RoleID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProjectActionID" class="control-label"></label>
                <select asp-items="@ViewBag.drpProjectAction" class="form-control" asp-for="ProjectActionID"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasPermission" /> @Html.DisplayNameFor(model => model.HasPermission)
                </label>
            </div>
            <div class="form-group">
                <a href="#" class="btn btn-success" id="btnAddNewRoleAction">Add</a>
            </div>
        </form>
    </div>
</div>

