@model Security.Domain.DTO.ProjectAction.ProjectActionSearchModel

<div id="dvSearchBox">
    @await Component.InvokeAsync("ProjectActionSearchBox", this.Model)
</div>

<div id="dvContentList">
    @await Component.InvokeAsync("ProjectActionList",this.Model)
</div>
